<div id="site" class="siteids">
    <div id="site">IDs registered at:<strong> {{ site }}</strong></div>
    <div id="identities" class="identities_list">
        <ul>
            {% for id_at_site in identities_at_site %}
            <li>
                    <div id="identity" class="id_item"><input type="button" button_type="login_with_id" id="{{id_at_site.identity.public_key}}" value="Login as {{id_at_site.identity.handle}}" /> ({{id_at_site.identity.public_key}})
                    </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
                    
